[Unit]
Description=PipeWire Multimedia Service
# Ensure kernel modules are loaded and sound-card is ready
After=systemd-modules-load.service sys-devices-platform-sound-sound-card0-controlC0.device

Requires=pipewire.socket

[Service]
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
Type=simple
AmbientCapabilities=CAP_SYS_NICE
ExecStart=/usr/bin/pipewire
Restart=on-failure
RestartSec=2
RuntimeDirectory=pipewire
RuntimeDirectoryPreserve=yes
User=pipewire
Environment=PIPEWIRE_RUNTIME_DIR=%t/pipewire

[Install]
Also=pipewire.socket pipewire-manager.socket
WantedBy=default.target
